<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Store</a>
  <div class="mr-auto mt-2 mt-lg-0">
  </div>
  <div style="color: rgba(255,255,255,.5);">
    <div *ngIf="isUserLoggedIn">Hello {{user?.name}}</div>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="account/login" *ngIf="!isUserLoggedIn">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="isUserLoggedIn" (click)="logout()">Logout</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="account/register" *ngIf="!isUserLoggedIn">Register</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
