<div class="card">
  <div class="card-body">
    <div class="form" [formGroup]="loginForm">
      <div class="form-group mb-2">
        <label for="inputUserName">Name</label>
        <input type="text" class="form-control" id="inputUserName" placeholder="User Name" formControlName="name"
          [(ngModel)]="modelRequest.name" [ngClass]="checkIfDisplayInputError('name')?'is-invalid':''">
        <div class="invalid-form-errors" *ngIf="checkIfDisplayInputError('name')">
          <em *ngIf="loginForm.get('name').hasError('required')">Name cannot be empty</em>
        </div>
      </div>
      <div class="form-group mb-2">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="password"
          [(ngModel)]="modelRequest.password" [ngClass]="checkIfDisplayInputError('password')?'is-invalid':''">
        <div class="invalid-form-errors" *ngIf="checkIfDisplayInputError('password')">
          <em *ngIf="loginForm.get('password').hasError('required')">Password cannot be empty</em>
        </div>
      </div>
      <input type="button" class="btn btn-primary mb-2" value="Log in" (click)="login()"/>
    </div>
  </div>
</div>
